function SquareGame.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 3
push constant 0
pop this 4
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 3
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 4
push constant 1
eq
not
if-goto SquareGame.12
push this 3
call Square.moveUp 1
pop temp 0
goto SquareGame.13
label SquareGame.12
label SquareGame.13
push this 4
push constant 2
eq
not
if-goto SquareGame.14
push this 3
call Square.moveDown 1
pop temp 0
goto SquareGame.15
label SquareGame.14
label SquareGame.15
push this 4
push constant 3
eq
not
if-goto SquareGame.16
push this 3
call Square.moveLeft 1
pop temp 0
goto SquareGame.17
label SquareGame.16
label SquareGame.17
push this 4
push constant 4
eq
not
if-goto SquareGame.18
push this 3
call Square.moveRight 1
pop temp 0
goto SquareGame.19
label SquareGame.18
label SquareGame.19
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label SquareGame.20
push local 1
not
not
if-goto SquareGame.21
label SquareGame.22
push local 0
push constant 0
eq
not
if-goto SquareGame.23
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame.22
label SquareGame.23
push local 0
push constant 81
eq
not
if-goto SquareGame.24
push constant 0
not
pop local 1
goto SquareGame.25
label SquareGame.24
label SquareGame.25
push local 0
push constant 90
eq
not
if-goto SquareGame.26
push this 3
call Square.decSize 1
pop temp 0
goto SquareGame.27
label SquareGame.26
label SquareGame.27
push local 0
push constant 88
eq
not
if-goto SquareGame.28
push this 3
call Square.incSize 1
pop temp 0
goto SquareGame.29
label SquareGame.28
label SquareGame.29
push local 0
push constant 131
eq
not
if-goto SquareGame.30
push constant 1
pop this 4
goto SquareGame.31
label SquareGame.30
label SquareGame.31
push local 0
push constant 133
eq
not
if-goto SquareGame.32
push constant 2
pop this 4
goto SquareGame.33
label SquareGame.32
label SquareGame.33
push local 0
push constant 130
eq
not
if-goto SquareGame.34
push constant 3
pop this 4
goto SquareGame.35
label SquareGame.34
label SquareGame.35
push local 0
push constant 132
eq
not
if-goto SquareGame.36
push constant 4
pop this 4
goto SquareGame.37
label SquareGame.36
label SquareGame.37
label SquareGame.38
push local 0
push constant 0
eq
not
not
if-goto SquareGame.39
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame.38
label SquareGame.39
goto SquareGame.20
label SquareGame.21
push constant 0
return
